<div class="row">
    <div class="col mt-3">
        <h3 class="submenu-title">{{ config?.title }}</h3>
    </div>
    <div class="col" *ngIf="config?.headerButtons">
        <button type="button" class="float-right ml-2 btn" *ngFor="let btn of config?.headerButtons"
            [ngClass]="btn.type" (click)="btn.callback()">
            <span class="fa" [ngClass]="btn.icon" *ngIf="btn.icon"></span>
            {{ btn.text }}
        </button>
    </div>
</div>

<div class="row mt-2" *ngIf="config?.table">
    <div class="col">
        <app-generic-table [tableData]="tableData" [tabActive]="config?.activeNavigation" [config]="config?.table" (newConfig)="updateConfig($event)"></app-generic-table>
    </div>
</div>

<br>

<div class="row">
    <div class="col align-center">
        <ngb-pagination [collectionSize]="total" (pageChange)="getData($event)" [(page)]="page" [pageSize]="config.itemsPerPage" [maxSize]="7" [rotate]="true" [ellipses]="false"></ngb-pagination>
    </div>
    <div *ngIf="config?.footerButtons" class="d-flex">
        <div class="col generic-page-footer" *ngFor="let btn of config?.footerButtons">
            <button type="button" class="float-right ml-2 btn" 
                [ngClass]="btn.type" (click)="btn.callback()" *hasPermission="btn.options.permissions" >
                <span class="fas" [ngClass]="btn.icon" *ngIf="btn.icon"></span>
                {{ btn.text }}
            </button>
        </div>
    </div>
</div>