

<main role="main" class="container">
  <div *hasPermission="[Permissions.One, Permissions.Two]">Diretiva utilizada para exibir o elemento caso tenha TODAS as permissões do Array</div>
  <div *hasAnyPermission="[Permissions.One, Permissions.Two]">Diretiva utilizada para exibir o elemento caso tenha AO MENOS UMA permissão do Array</div>

  <button class="btn btn-success mb-2" (click)="showAlert()">Exemplo de Alert</button><br>
  <button class="btn btn-info" (click)="showDialog()">Exemplo de Dialog</button>

  <app-generic-page [config]="config" #genericPage></app-generic-page>
</main>

<app-modal-exemple></app-modal-exemple>

<ng-template #templateFilter>
    <label>Filtro </label>
    <input type="text">
</ng-template>
